* {
  text-align: center;
}

.ticketImage {
  display: inline-block;
  width: 200px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.ticketDesc {
  display: inline;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.comment {
  margin: 1rem auto;
  border: 1px solid black;
  border-radius: 5px;
  max-width: 50%;
  min-width: 15rem;
}

.safe {
  color: green;
  font-weight: bold;
}

.danger {
  color: red;
  font-weight: bold;
}

.moderate {
  color: darkorange;
  font-weight: bold;
}

.ticketsTable {
  width: 95%;
  margin: auto auto 30px auto;
}

.modifyLink {
  margin-bottom: 20px;
}
